spring:
  application:
    name: partbin
  datasource:
    url: jdbc:postgresql://localhost:5432/partbin
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
          dialect: org.hibernate.dialect.PostgreSQLDialect
security:
  jwt:
    secret-key: HjEvDcEGI1xXXrjBUZnYt2M9akaKfpX9G17sDhJUGps=
    expiration-time: 86400000
springdoc:
  swagger-ui:
    path: "/doc"
