spring:
  application:
    name: partbin
  datasource:
    url: jdbc:${DATABASE_URL} # Example: jdbc:postgresql://localhost:5432/partbin
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
          dialect: org.hibernate.dialect.PostgreSQLDialect
security:
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    expiration-time: 86400000
springdoc:
  swagger-ui:
    path: "/doc"
