<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <input name="email" type="text" placeholder="email" formControlName="email" required />
      @if (email?.hasError('required') && isSubmitted) {
        <div>Email is required</div>
      }
      @if (email?.hasError('email') && isSubmitted) {
        <div>Please provide a valid email</div>
      }
    </div>

    <div class="field">
      <input name="password" type="password" placeholder="password" formControlName="password" required />
      @if (password?.hasError('required') && isSubmitted) {
        <div>Password is required</div>
      }
    </div>

    <div>
      <button type="submit">Login</button>
      <a href="/auth/forgot-password" id="forgot-password-link">Forgot password ?</a>
    </div>

    {{successMessage}}
    {{errorMessage}}

    <hr />

    <div>
      <span>Don't have an account ?</span>
      <a href="/auth/signup" id="create-account-link">Create account</a>
    </div>
</form>
