<h2>Profile</h2>
<app-vtab>
  <app-vtab-item name="Profile" contentId="profile-form"/>
  <app-vtab-item name="My products" contentId="products-list"/>
  <app-vtab-item name="Wishlist" contentId="wishlist"/>

  <app-vtab-content id="profile-form">
    <app-profile-form [user]="user()"></app-profile-form>
  </app-vtab-content>
  <app-vtab-content id="products-list">
    <app-product-list 
      [products]="myProducts()"
      [loading]="myProductsLoading()"
      title="My Products"
      emptyMessage="You haven't created any products yet"
      emptyDescription="Start by adding your first product to the marketplace!"
      loadingMessage="Loading your products...">
    </app-product-list>
  </app-vtab-content>
  <app-vtab-content id="wishlist">
    <app-product-list 
      [products]="wishlist()"
      [loading]="wishlistLoading()"
      title="My Wishlist"
      emptyMessage="Your wishlist is empty"
      emptyDescription="Browse products and add them to your wishlist!"
      loadingMessage="Loading your wishlist...">
    </app-product-list>
  </app-vtab-content>
</app-vtab>
