label {
  margin-top: .4rem;
}

input[type="text"], input[type="password"] {
  padding: .6rem;
  border-radius: .4rem;
  margin-block: .4rem;
  border: none;
  background-color: color-mix(in srgb, gray, transparent 80%);
}

button {
  background-color: color-mix(in srgb, var(--primary), transparent 20%);
  color: white;
  padding: .4rem;
  margin-block: .4rem;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  font-size: 1rem;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: var(--primary);
}

.back-button {
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.2s;
  color: black;
  margin-block: auto;
}

.back-button:hover {
  background: #e9ecef;
}

