@import "assets/styles/colors.css";
@import "assets/styles/fonts.css";

html, body {
  margin: 0;
  font-family: var(--font-content);
}

h2, h3, h4 {
  font-family: var(--font-subtitle);
}

a {
  text-decoration: none;
  color: inherit;
}
