<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <input name="username" type="text" placeholder="Username" formControlName="username" />
      @if (username?.hasError('required') && isSubmitted) {
        <div>Username is required</div>
      }
    </div>

    <div class="field">
      <input name="email" type="text" placeholder="Email" formControlName="email" />
      {{email?.get("email")}}
      @if (email?.hasError('required') && isSubmitted) {
        <div>Email is required</div>
      }
      @if (email?.hasError('email') && isSubmitted) {
        <div>Please provide a valid email</div>
      }
    </div>

    <div class="field">
      <input name="password" type="password" placeholder="Password" formControlName="password" />
      @if (password?.hasError('required') && isSubmitted) {
        <div>Password is required</div>
      }
      @if (password?.hasError('minlength') && isSubmitted) {
        <div>Password must be at least 8 characters long</div>
      }
    </div>

    <div class="field">
      <input name="confirmPassword" type="password" placeholder="Confirm password" formControlName="confirmPassword" />
      @if (confirmPassword?.hasError('required') && isSubmitted) {
        <div>Please confirm your password</div>
      }
      @if (signupForm.hasError('passwordMismatch') && isSubmitted) {
        <div>Passwords do not match</div>
      }
    </div>

    <div>
      <button type="submit">Create account</button>
    </div>
</form>
