form {
  width: max-content;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: .7rem;
  width: 100%;
  text-align: center;
}

input[type="text"], input[type="password"] {
  padding: .6rem;
  border-radius: .4rem;
  border: none;
  background-color: color-mix(in srgb, gray, transparent 80%);
}

button[type="submit"] {
  background-color: color-mix(in srgb, var(--primary), transparent 20%);
  color: white;
  padding: .4rem;
  margin-block: .2rem;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  font-size: 1rem;
}

button[type="submit"]:hover {
  background-color: var(--primary);
}
